exportMethods("wmwTest")

export(gini)

export(absLog10p)

export(filterPmat)

export(read_gmt)

export(entropy,
       entropyDiversity,
       entropySpecificity,
       sampleSpecialization)

useDynLib(ribiosBioQC)
